<div class="comment">
	<h4>Comment by <span class="color"><%= comment.author_name %></span> -
		<span class="light"><%= comment.created_at.strftime("%d %b %Y  %H:%M") %></span></h4>
	<p><%= comment.body %></p>
	<!-- <p>Posted <%= distance_of_time_in_words(comment.article.created_at, comment.created_at) %> later</p> -->
</div>